body{
	background-image: url("img/back.png");
	background-repeat: no-repeat;
	background-size: 100%;
	display: flex;
	justify-content: center;
}

#board{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 90%;
}

.cards{
	display: flex;
	justify-content: space-between;
	margin: 8% 0;
}

.card{
	width: 8.7vw;
	height: 10.4vw;
	border: solid black;
	margin:  0 1%;
	border-radius: 1vw;
}

img{
	width: 100%;
}

.finished{
	box-shadow: 1vw 1vw 1vw 0.4vw rgba(0,300,0,0.75);

}
.wrong{
	box-shadow: 1vw 1vw 1vw 0.4vw rgba(105,105,105,0.75);
}